<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Access_token" value="23.be308149a1c18d6cda8f56ff7228f83d.2592000.1574582716.863235430-17611134"/>
    <add key="Access_token_Time" value="2019/10/25 16:05:18"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>